h1{
    font-family: cursive,times,sans-serif;
    color: black;
    text-align: center;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp_Fdp1mOW4xvDjkiIck_bNZgpi3pUzVK58oRsp7wAPZbfByPV)
}